&.a-propos {
    flex-direction: column;
    width: 100%;

    section.image-banner {
        img.banner {
            border-radius: var(--section-brad);
            height: 226px;
            object-fit: cover;
            object-position: center;
        }
    }

    section.collapse-list {
        display: flex;
        flex-direction: column;
        margin-top: 1.5em;
        row-gap: 1.5em;
    }

    @media screen and (min-width: "900px") {
        section.image-banner {
            margin: 2em 0;
            height: 226px;
        }

        section.collapse-list {
            margin: 0 auto;
            width: 80%;
        }
    }
}