header.Header {
    display: flex;
    justify-content: space-between;
    width: auto;
    height: 47px;

    .app-logo {
        display: flex;
        height: 47px;
        
        figure {
            display: flex;
            height: 100%; 
        }
    }

    nav.app-navigation {
        display: flex;
        ul {
            display: flex;
            align-items: center;
            column-gap: 10px;

            li a {
                text-transform: uppercase;
                color: var(--tonic);
                font-size: 12px;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}