@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
@import 'Normalize';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

ul li {
    list-style-type: none;
}

a, a:visited, a:hover, a:active {
    text-decoration: none;
    color: initial;
}

h1 {
    margin: 0;
}

img {
    width: 100%;
}

:root {
    --tonic: #FF6060;
    --section-brad: 10px;
    --collapse-background: #F7F7F7;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border: none;

    @import 'errors';

    #root {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    
    .App {
        display: flex;
        flex-direction: column;
        max-width: 1440px;
        width: 100%;
        min-height: 100vh;
        padding: 20px;
        row-gap: 16px;

        @import 'header';

        main {
            display: flex;
            width: 100%;
            
            @import './home';
            @import './apropos';
        }
    }
    @media screen and (min-width: "900px") {
        .App {
            padding: 40px 100px;
        }
    }
}