section.Collapse {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    width: 100%;
    border-radius: 5px;
    background-color: var(--collapse-background);

    .CollapseTitle {
        display: flex;
        display: flex;
        position: relative;
        background-color: var(--tonic);
        border-radius: 5px;
        justify-content: space-between;
        z-index: 50;
        align-items: center;
        padding: 0 0 0 6px;

        h2 {
            color: white;
            font-size: 12px;
        }

        button.CollapseRetract {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: transparent;
            border: none;
            width: 32px;
            height: 32px;
            color: white;

            figure {
                display: flex;
                width: 50%;
                height: 50%;
                fill: white;

                &.CaretDefault {
                    transform: rotate(0);
                    transition: transform .25s ease;
                }

                &.CaretRotated {
                    transform: rotate(180deg);
                    transition: transform .25s ease;
                }
            }
        }
    }

    p.CollapseContent {
        display: flex;
        background-color: var(--collapse-background);
        margin: 2em 1em;
        z-index: 49;
        overflow: hidden;
        transition: height 0.3s ease;
        color: var(--tonic);
        line-height: 1.5;
    }

    ul {
        display: flex;
        flex-direction: column;
        margin: 2em 1em;
        row-gap: .5em;
        color: var(--tonic);
    }
}